@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url("./backgroundimghero.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
  position: relative;
}
.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  max-width: 75vw;
  margin: auto;
  justify-content: space-between;
  height: 75px;
  padding-top: 0.1rem;
  overflow: hidden;
}
nav img {
  color: red;
  width: 145px;
  position: relative;
  z-index: 10;
}
.navbtn {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.btn-red-sn {
  background-color: red;
  padding: 8px;
  color: white;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.btn,
#select-lang {
  background-color: transparent;
  color: #e5e5e5;
  border-radius: 3px;
  border: 1px solid white;
}
#select-lang {
  border: none;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  overflow: hidden;
}
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.main .main-btn-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main input {
  padding: 3px 24px;
  font-size: 24px;
  border: 1px solid white;
  background: transparent;
  border-radius: 4px;
  color: #e5e5e5;
}
.start-btn {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 24px;
  border-radius: 4px;
  border: none;
}
.main input::placeholder {
  font-size: medium;
}
.line {
  background-color: rgb(43, 43, 43);
  height: 7px;
}
.main-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.hero-2-left {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e5e5e5;
  justify-content: center;
  padding: 5%;
  width: 45%;
}
.hero-2-left > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: left;
}
.hero-2-left > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
}
.hero-2-right {
  display: flex;
  justify-content: left;
  overflow: hidden;
  padding: 2%;
}
.hero-2-right img {
  position: relative;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.hero-2-right video {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 70%;
  width: 34%;
  top: 98%;
  left: 64%;
}
.main-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  gap: 2%;
  overflow: hidden;
}
.main-3-left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-3-left img {
  height: 70%;
  align-items: center;
}
.mobile-download {
  font-family: "Martel Sans", sans-serif;
  border: 2px solid gray;
  background-color: black;
  border-radius: 15px;
  height: 17%;
  width: 22%;
  display: flex;
  position: absolute;
  top: 230%;
}
.mobile-download-img {
  padding: 5%;
}
.mobile-download-txt > :nth-child(1) {
  color: #e5e5e5;
  font-size: 26px;
}
.mobile-download-txt > :nth-child(2) {
  color: #5335e9;
  font-size: 14px;
  font-weight: 500;
}
.main-3-right {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e5e5e5;
  justify-content: center;
  width: 45%;
}
.main-3-right > :nth-child(1) {
  font-weight: 900;
  font-size: 52px;
  text-align: left;
}
.main-3-right > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
}
.main-4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  gap: 2%;
  overflow: hidden;
}
.hero-4-left {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e5e5e5;
  justify-content: center;
  padding: 7%;
  width: 50%;
}
.hero-4-left > :nth-child(1) {
  font-weight: 800;
  font-size: 48px;
  text-align: left;
}
.hero-4-left > :nth-child(2) {
  font-weight: 400;
  font-size: 22px;
  text-align: left;
}
.hero-4-right {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hero-4-right img {
  position: relative;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.hero-4-right video {
  z-index: -1;
  overflow: hidden;
  height: 28%;
  position: absolute;
  top: 272%;
}
.main-5 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  gap: 2%;
  overflow: hidden;
}
.main-5-left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-5-left img {
  height: 70%;
}
.main-5-right {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e5e5e5;
  justify-content: center;
  padding: 7%;
  width: 45%;
}
.main-5-right > :nth-child(1) {
  font-weight: 900;
  font-size: 44px;
  text-align: left;
}
.main-5-right > :nth-child(2) {
  font-weight: 400;
  font-size: 22px;
  text-align: left;
}
@media (max-width: 960px) {
  nav img {
    width: 100px;
  }
  .navbtn {
    height: 30%;
  }
  .btn-red-sn {
    padding: 2px;
  }
  .nav {
    height: 50px;
    padding: 0;
  }
  .hero > :nth-child(1) {
    font-size: 30px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 16px;
  }
  .main .main-btn-mail {
    flex-direction: column;
  }
}
